:root {
    --clr-blue-500: hsl(217, 10%, 25%);
    --clr-blue-700: hsl(216, 18%, 16%);
    --clr-blue-700-fade: hsl(216, 18%, 16%, 0.8);
    --clr-yellow: hsl(42, 100%, 71%);
    --clr-white: hsl(0, 0%, 93%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1, h2, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: var(--clr-blue-700);
}
